body {
    margin: 0;
    background-color: black;
    text-color: white;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.linkimages {
    width: 40px;
    height: 40px;
}

.linkimages:hover {
    transform: scale(1.1);
}
