body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family:monospace
}

a {
    color: white;         
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

.socials {
  display: flex;
  justify-content: flex-start; 
  gap: 15px;                   
  margin-top: 20px;
  justify-content: center;   
  font-size: 20px;        
}



.linkimages {
    width: 40px;
    height: 40px;
    
}


.linkimages:hover {
    transform: scale(1.1);
}

.topbutton {
  color: rgb(240, 235, 235);
  background: transparent;
  border-radius: 15px;
  border: 2px solid transparent;
  font-size: 1.2rem;
  padding: 12px 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}


.content {
  max-width: 600px;   
  margin: 0 auto;  
  padding-left: 5%;
  text-align: left;
  font-size: 15px;
}


.topbutton:hover {
  border: 2px solid rgb(255, 255, 255);   
  background-color: rgba(255, 255, 255, 0.1);
}

header {
  display: flex;
  justify-content: center; 
  gap: 20px;               
  margin-top: 20px;  
  color: rgb(255, 255, 255);       
}

.project-list {
    list-style-type: none; 
    font-weight: bold;    
    font-size: 24px;
    padding-left: 36%;      
}

h1 {
    font-size: 69px;
    text-align: center;
    color: rgb(173, 184, 12);
    
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 24px; 
}

h3 {
  text-align: center;
}