body {
    margin: 0;
    background-color: black;
    color: white; 
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.linkimages {
    width: 40px;
    height: 40px;
}
